<%- include('../includes/head.ejs') %>
  
</head>


<body>
    <main>
       <ul>
           <li >
               <a href="/studentRegister" >StudentRegister</a>
           </li>
           <li>
               <a href="/teacherRegister" >TeacherRegister</a>
           </li>
       </ul>
    </main>
 
  <%- include('../includes/end.ejs') %>